 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --color-white: #fff;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--Violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1440px;
    max-width: 100%;
    min-height: 100vh;
}

header .logo img {
    width: 220px;
    margin: 3.8em 0 5em 4em;
}

main {
    display: flex;
    gap: 3.2em;
    padding-inline: 4.5em;
    width: 100%;
}

.left {
    display: flex;
    width: 54.9%;
}

.left img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.right {
    width: 40%;
}

.right h1 {
    color: var(--color-white);
    font-size: 2.55rem;
    font-weight: 600;
    margin-top: 2.6rem;
    font-family: Poppins;
    margin-bottom: .5em;
    line-height: 1.5;
}

.right p {
    color: var(--color-white);
    line-height: 1.5;
    font-size: 1.12em;
    font-family: 'Open sans';
    font-weight: 400;
}

.right button {
    border: none;
    outline: none;
    background-color: var(--color-white);
    border-radius: 32px;
    padding: 1em 3.6em;
    box-shadow: 3px 3px 7px rgba(0,0,0,.4);
    font-weight: 400;
    font-size: 1.13rem;
    color: var(--Violet);
    margin-top: 1.3em;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: var(--Soft-Magenta);
    color: var(--color-white);
}

footer {
    display: flex;
    justify-content: end;
    padding: 1.4em 5em 2.5em 0;
    width: 100%;
}

footer ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

footer ul li {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    color: var(--color-white);
    transition: .3s;
}

footer ul li a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

footer ul li:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}

@media screen and (max-width:1250px) {
    main {
        padding: 0 4em;
    }
    .left {
        width: 50%;
    }    

    .right {
        width: 50%;
    }
    
    .right h1 {
        font-size: 2em;
        margin-top: .8em;
    }    
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(images/bg-mobile.svg);
        background-position: top center;
        background-size: contain;
    }

    header .logo img {
        width: 150px;
        margin: 2em 0 3em 2em;
    }

    main {
        flex-direction: column;
        padding-inline: 0;
    }    

    .left, .right {
        width: 100%;
        text-align: center;
        border: none;
        padding-inline: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right h1 {
        font-size: x-large;
    }

    .right p {
        font-size: 16px;
    }

    .right button {
        width: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: .8em 5em;
    }

    footer {
        justify-content: center;
        padding: 0;
        padding: 4.5em 2em 2.5em 2em;
    }
}

